# Ignore certificates and keys
certs/
/GestionClubs/.vs
docker-compose.build.yml
/GestionClubs/Application/GestionClubs.Application.csproj.lscache
/GestionClubs/Application.Test/Application.Test.csproj.lscache
*.lscache
